* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
}

a {
    display: inline;
    text-decoration: none;
    color: darkred;
    cursor: pointer;
}

img {
    width: 100%;
}

nav {
    display: flex;
    margin-top: 20px;
    margin: 0 auto;
    max-width: fit-content;
}

.nav__logo {
    width: 110px;
    height: 110px;
    max-width: fit-content;
}

.left__nav {
    display: flex;
    align-items: center;
}

.nav__row {
    display: flex;
    justify-content: space-between
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 500px;
    width: 100%;
    max-width: 1280px;
}

.nav__links {
    width: 170px;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
}

.header__img {
    width: 100%;
    height: 600px;
    z-index: 1;
    position: relative;
}

.header__img--text {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    background-color: black;
    text-align: center;
    z-index: 2;
    font-size: 45px;
    border: 3px solid red;
    border-radius: 7px;
    width: 750px;
}

header {
    position: relative;
}

.container {
    padding: 43px 0;
}